.timer {
    margin-left: 20px;
    background-color: blue;
    width: 10%;
    height: 30%;
}

.board {
    background-color: grey;
    width: 60%;
    height: 50%;
}

.statistics {
    background-color: rebeccapurple;
    width: 30%;
    height: 50%;
}