.header{
    text-align: center;
}

.column{
    float: left;
}

.column.timer {
    background-color: blue;
    width: 5%;
    height: 800px;
}

.column.board{
    background-color: grey;
    width: 80%;
    height: 800px;
}

.column.statistics {
    background-color: rebeccapurple;
    width: 15%;
    height: 800px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.board-button{
    position: absolute;
    height: 800px;
    width: 80%;
}

.target-button{
    position: relative;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
}
