.header{
    text-align: center;
}

.column{
    float: left;
}

.column.timer {
    background-color: white;
    width: 6%;
    height: 800px;
}

.column.board{
    background-color: white;
    width: 80%;
    height: 800px;
}

.column.statistics {
    background-color: #f8f9fa;
    width: 12%;
    height: 300px;
    padding-right: 2%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.board-button{
    position: absolute;
    height: 800px;
    width: 80%;
    background-color: white;
}

.target-button{
    position: relative;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
    transform: scale(0.25);
    transition: transform 3s;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    padding-left: 30%;
    padding-right: 30%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: dodgerblue;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.target-button-start {
    position: relative;
    left: 40% ;
    top: 50%;
    display:block;
    height: 50px;
    width: 250px;
    /*border-radius: 0%;*/
    /*border: 1px solid green;*/
    /*background-color: green;*/
    transform: scale(1);
    transition: transform 0s;
}

.red-tb{
    position: relative;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
}

.blue-tb{
    position: relative;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid royalblue;
    background-color: royalblue;
}

.yellow-tb{
    position: relative;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid gold;
    background-color: gold;
}

.background{
    float: left;
}
.background.target{
    width: 50%;
}

.background.board{
    width: 50%;
}

.white-bd{
    position: relative;
    display:block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: white;
}

.black-bd{
    position: relative;
    display:block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: black;
}

.shooting-bd{
    position: relative;
    display:block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-image: url("https://st.depositphotos.com/1032463/1576/i/600/depositphotos_15760251-stock-photo-hand-with-gun-shooting-target.jpg");
    background-size: 130%;
}