<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aim trainer</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"
        ></script>

        <script src="/static/javascript/game.js"></script>
        <script src="/static/javascript/timer.js"></script>
</head>
<body>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <label class="navbar-brand">AIM trainer</label>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav" style="padding-right: 15px">
                        <button class="btn btn-primary" type="button" aria-current="page" href="#"
                                onclick="game_settings()">Game settings</button>
                    </div>
                    <div class="navbar-nav">
                        <button class="btn btn-primary" type="button" href="#" onclick="startTimer()"
                        >Visual settings</button>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <button id="register" class="btn btn-primary" onclick="register()">
                            Register
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <div  class="header">
            <h1 id="aimtimer">Time will be here</h1>
        </div>

        <div class="row">
            <div class="column timer">

            </div>
            <div class="column board">
                <button class="board-button" type="button" onclick="statistics(hitCounter, countMiss(), 0, 'Damian')"></button>
                <button class="target-button" id="btn" type="button" onclick="statistics(changePosition(), missCounter, 0, 'Damian')"></button>
            </div>
            <div class="column statistics">
                <h2>Statistics</h2>
                <p>Player: <span id="user_name"></span></p>
                <p>Accuracy: <span id="accuracy"></span></p>
                <p>Hit targets: <span id="hit_counter"></span></p>
                <p>Miss targets: <span id="miss_counter"></span></p>
                <p>APS: <span id="hits_per_second"></span></p>
            </div>
        </div>

</body>
</html>
