<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aim trainer</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"
        ></script>

        <script src="/static/javascript/game.js"></script>
</head>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<body onload="crosshairPointer()">
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <label class="navbar-brand">AIM trainer</label>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav" style="padding-right: 15px">
                        <button id="game-settings-button" class="btn btn-primary" type="button" aria-current="page" href="#"
                                onclick="game_settings()">Game settings</button>
                    </div>
                    <div class="navbar-nav">
                        <button class="btn btn-primary" type="button" href="#" onclick="visualSettings()"
                        >Visual settings</button>
                    </div>
                    <div class="navbar-nav ms-auto">
                        {% if username == 'Guest' %}
                        <div style="padding-right: 15px">
                            <a id="register" class="btn btn-primary" href="register">
                                Register
                            </a>
                        </div>
                        <div>
                            <a id="login" class="btn btn-primary" href="login">
                                Login
                            </a>
                        </div>
                        {% else %}
                        <div>
                            <a id="logout" class="btn btn-primary" href="logout">
                                Logout
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <div id="game-set" class="modal">
          <div class="modal-content">
            <div class="modal-header">
                <h2>Game settings</h2>
                <span class="close">&times;</span>

            </div>
            <div class="modal-body">
                <h3>Choose game mode</h3> <br>
                <button id="easy-mode" class="btn btn-primary" type="button" onclick="easyModeStart()">Easy</button> <br> <br>
                <button id="medium-mode" class="btn btn-primary" type="button" onclick="mediumModeStart()">Medium</button><br> <br>
                <button id="ranked-mode" class="btn btn-primary" type="button" onclick="rankedModeStart()">Ranked</button> <br>
            </div>
          </div>

        </div>

        <div id="visuals" class="modal">
          <div class="modal-content">
            <div class="modal-header">
                <h2>Visuals</h2>
                <span id="xclose" class="close">&times;</span>

            </div>
            <div class="modal-body">
                <div class="background target">
                    <h3>Choose target</h3> <br>
                    <button id="red-target" class="red-tb" type="button" onclick="targetRed()"></button> <br> <br>
                    <button id="blue-target" class="blue-tb" type="button" onclick="targetBlue()"></button><br> <br>
                    <button id="yellow-target" class="yellow-tb" type="button" onclick="targetYellow()"></button> <br>
                </div>
                <div class="background board">
                    <h3>Choose background</h3> <br>
                    <button id="white-board" class="white-bd" type="button" onclick="whiteBackground()"></button> <br> <br>
                    <button id="black-board" class="black-bd" type="button" onclick="blackBackground()"></button><br> <br>
                    <button id="shooting-board" class="shooting-bd" type="button" onclick="shootingBackground()"></button> <br>
                </div>
            </div>
          </div>

        </div>

        <div id="end-game" class="modal">
          <div class="modal-content">
            <div class="modal-header">
                <h2>THE END</h2>
            </div>
            <div class="modal-body">
                <div class="background board">
                    <h3>Choose game mode</h3> <br>
                    <button id="easy-mode1" class="btn btn-primary" type="button" onclick="easyModeStart()">Easy</button> <br> <br>
                    <button id="medium-mode1" class="btn btn-primary" type="button" onclick="mediumModeStart()">Medium</button><br> <br>
                    <button id="ranked-mode1" class="btn btn-primary" type="button" onclick="rankedModeStart()">Ranked</button> <br> <br>
                    <button id="play-again" class="btn btn-primary" type="button" onclick="playAgain()">Play again</button> <br>
                </div>
                <div class="background board">
                    <h3>Statistics</h3> <br>
                    <p>Accuracy: <span id="accuracy1"></span></p>
                    <p>Hit targets: <span id="hit_counter1"></span></p>
                    <p>Miss targets: <span id="miss_counter1"></span></p>
                    <p>APS: <span id="hits_per_second1"></span></p>
                </div>
            </div>
          </div>

        </div>


        <div  class="header">
            <h1 id="aimtimer"><br></h1>
        </div>

        <div class="row">
            <div class="column timer">

            </div>
            <div class="column board">
                <button class="board-button" id="board-btn" type="button" ></button>
                <button class="target-button-start btn btn-success" id="btn" type="button" onclick="startTimer(), statistics(changePosition(), missCounter)">Start game!</button>
            </div>
            <div class="column statistics">
                <h2>Statistics</h2>
                <p>Player: <span id="user_name">{{ username }}</span></p>
                <p>Difficulty: <span id="difficulty"></span></p>
                <p>Accuracy: <span id="accuracy"></span></p>
                <p>Hit targets: <span id="hit_counter"></span></p>
                <p>Miss targets: <span id="miss_counter"></span></p>
                <p>APS: <span id="hits_per_second"></span></p>
            </div>
        </div>

</body>
</html>
